body {
  color: #fff;
  background-color: #009999;
}
.container-narrow {
  margin: 0 auto;
  max-width: 700px;
}
.menu-container {
  color: #000;
  padding: 19px 29px 29px;
  margin: 0 auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}
.main-dish-item {
  font-size: 22px;
  margin-bottom:4px;
  border-top: 1px solid #dbdbdb;
  padding: 10px;
  min-height: 35px;
  margin:0px;
}
.side-dish-item {
  font-size: 14px;
  margin-bottom:4px;
  text-transform:uppercase;
  display:inline;
  margin-right: 4px;
}
.main-dishes-group {
  list-style-type:none;
  margin:0px;
}
.side-dishes-group {
  margin-left: 0px;
}
.kitchen-info {
  -webkit-animation: fade-in 1s;
  animation: fade-in 1s;
}
@-webkit-keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}